@import url('https://fonts.googleapis.com/css2?family=Joti+One&display=swap');


:root {
    -rosa: #E99CD6;
    -azul: #BEE7FD;
    -bege: #D1BDBD;
    -bordo: #7A2E45;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Joti One", serif;

}
html {
    scroll-behavior: smooth;
}

body {
    font-size: 100%;
    background-color: #000000;
}

/* cabeçalho */

header {
    background-color: #D1BDBD;
}

.img-cabeca {
    transform: rotate(180deg);
}
.img-cabeca1 {
    transform: rotate(180deg);
}





h1 {
    font-family: "Joti One", serif;
    color: #7A2E45;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 80px;
    text-shadow: 0px 2px 2px black;
}

.titulos {
    display: flex;
    align-items: center;
    justify-content: center;

}


.cabecalho {
    display: flex;
    flex-direction: column;


}

.barra {
    background-color: #7A2E45;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 50%;
    border-radius: 20px;
    border: 8px solid #ccc;
    transform: translate(50%);
    margin: 20px;

}

.menu {
    display: flex;
    gap: 50px;

}

.menu a {
    padding: 10px 30px;
    font-size: 30px;
    font-weight: 200;
    border: none;
    border-radius: 15px;
    background-color: #e4caca;
    cursor: pointer;
    color: #7A2E45;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    
}

a:hover {
    transform: scale(1.05);
    transition: 0.2s;
}

.img-gato {
    overflow: hidden;
    /* Garante que nada fique fora dos limites da div */
    display: flex;
    /* Flexbox pode ajudar a centralizar o conteúdo, se necessário */
  /*   margin-top: 0; */
}


.img-gato img {
    width: 100%;
    height: auto;
    object-fit: cover;
    
}

/* FRASE E TEXTOS */

.frase {
    display: flex;
    justify-content: center;
    /* Centraliza horizontalmente */
    align-items: center;
    /* Centraliza verticalmente */
    gap: 20px;
    /* Espaçamento entre a imagem e o texto */
    padding: 30px;
    background-color: #D1BDBD;
}

.frase img {
    max-width: 100px;
    /* Ajuste o tamanho da imagem, se necessário */
    height: auto;
    margin: 0;
}

.frase-efeito {
    font-size: 40px;
    color: #7A2E45;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}

.frase-efeito span {
    display: block;
    font-size: 50px;
    text-align: center;
}
/* SESSAO DOS CARDS */
.menina {
    background-image: url('fotos/meninaegato.jpg');
    background-size: cover;
    background-position: center;
    
    padding: 50px;
    color: white;
    text-align: center;
    position: relative;
    
}

.menina h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    display: inline-block; 
    /* Faz o <h2> ser exibido como um bloco em linha, ajustando sua largura ao conteúdo */
    border-radius: 5px;
}

.cards-section {
    background-color: rgba(255, 255, 255, 0.61);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
}

.card:hover{
    transform: scale(1.03);
    transition: 0.2s;
}

.section-title {
    font-size: 2em;
    margin-bottom: 20px;
    color: #7A2E45;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgb(0, 0, 0);

}

.card {
    background-color: #D1BDBD;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.card-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    color: #7A2E45;
}

.card-text {
    font-size: 1em;
    color: #000;
}


.navfooter {
    display: flex;
    justify-content: center;
}

.navfooter img {
    width: 100%;
    object-fit: cover;
}

/* FORMS */

.formulario {
    position: relative;
    /* Permite que o conteúdo seja posicionado sobre a imagem */
    color: rgb(0, 0, 0);
    width: 100%;
}

.formulario h3 {
    margin-top: 30px;
    color: #7A2E45;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    font-size: 25px;
    
}

.formulario img {
    position: absolute;
    /* Faz com que a imagem ocupe o fundo do container */
    width: 100%;
    object-fit: cover;
    /* Garante que a imagem cubra o container sem distorcer */
    z-index: -1;
    opacity: 0.5;
}


.formulario h2 {
    text-align: center;
    padding: 20px 4%;
    color: #7A2E45;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 35px;
    background-color: #d1bdbd7e;
    border: 5px solid #ccc;

}




form {
    max-width: 400px;
    /* comando para nunca passar da tela, independente do tamanho da mesma */
    margin: 0 auto;
    display: flex;
    /* os quadrados fica um do lado do outro */
    justify-content: center;
    flex-direction: column;
    /* deixa os quadrados do form em coluna */
    gap: 20px;
    /* distanciamento entre os campos */

}

form input,
textarea {
    max-width: 100%;
    background-color: #D1BDBD;
    border: 2px solid black;
    border-radius: 15px;
    outline: 0;
    padding: 20px 10px;
    color: black;
}

form textarea {
    resize: none;
    /* n deixa q a caixa fique redimensionável */
    max-height: 300px;
}

form .btn-enviar input {
    width: 150px;
    height: auto;
    background-color: #D1BDBD;
    font-weight: 700;
    border: 2px solid #000;

}

form .btn-enviar:hover {
    transform: scale(1.1);
    transition: 0.2s;
    
   
}

form .btn-enviar {
    text-align: center;
    margin: 20px;
}

form .btn-enviar input {
    font-size: 25px;
    color: #7A2E45;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    cursor: pointer;
}

footer {
    background-image: url('fotos/fotofinal.png');
    background-size: cover;
    object-fit: cover;
    background-position: center bottom;
    overflow: hidden;
    background-repeat: no-repeat;
    height: 400px;
    padding: 20px;
    position: relative;

}

footer {
    padding: 20px 4%;
    margin-top: 20px;
}

footer h1 {
    font-size: 30px;
    text-align: center;
}

.navfooter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.navfooter img {
    height: 7rem;
    width: auto;
}

.infos ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-bottom: 30px;
}

.infos li {
    margin-bottom: 30px;
    padding: 0 30px;
}

.infos a{
    color: #7A2E45;
    font-size: 20px;
    
}

.infos a:hover{
    text-decoration: underline;
}

footer p {
    text-align: center;
    color: #7A2E45;
    margin-top: 20px;

}

.legal {
    text-align: center;
}

.legal a {
    color: #7A2E45;
}

@media (max-width: 1020px) {
    
   h1.titulo1{
    font-size: 30px;
   
   }

   .titulos{
    display: flex;
    justify-content: center;
    align-items: center;
   }

   .titulos img{
    width: 100px;
    height: auto;
   }
   
   .barra {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 195px;
    height: 450px;
    margin: 0;
    
    
}

 .menu{
    display: flex;
    flex-direction: column;

 }
 .menu a{
    font-size: 25px;
    text-align: center;
 }

 .frase h2{
    font-size: 25px;
 }

.frase span{
    font-size: 40px;
}
.frase-efeito h2 {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}
.frase{
    padding: 10px;
}
/* .frase img{
    left: -50%;
} */

 .formulario img{
    width: 100%;
    height: 100%;
 }

 .formulario h2{
    font-size: 25px;
 }
 form {
    padding: 0 20px;
 }
 
 footer {
    margin: 0;

    width: 100%;
 }

 footer {
    background-image: url('fotos/fotofinal.png');
    background-size: contain;
    object-fit: cover;
    background-position: right bottom;
    height: auto;
    background-repeat: no-repeat;
    background-color: #D1BDBD;
    
}



}

